{% extends "base.html" %}
{% block titel %}Anmeldung abgeschlossen{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-9 col-md-9 mx-auto">
            <p class="lead text-body-secondary">Vielen Dank für Ihre Anmeldung! Sie haben sich hiermit erfolgreich für den politischen Austausch angemeldet.</p>
            <p class="lead text-body-secondary">Zuletzt müssen Sie noch diese <a class="link-primary" href="https://www.surveymonkey.de/r/GS6MFT8" target="_blank"><strong>Terminumfrage</strong></a> bearbeiten, damit ein Termin für den Dialog gefunden werden kann.</p>
            <hr>
            <p class="lead text-body-secondary"><strong>Sobald ein Gesprächspartner für Sie gefunden wurde, erhalten Sie eine E-Mail in der der weitere Verlauf erklärt wird.</strong></p> 
            <p class="lead text-body-secondary">Bitte überprüfen Sie regelmäßig, ob Sie diese E-Mail erhalten haben (Bitte überprüfen Sie auch den Spam Ordner). Sollten Sie keine E-Mail erhalten, konnte leider kein Gesprächspartner für Sie gefunden werden.</p>
            <p class="lead text-body-secondary">Falls Sie sonst irgendwelche Fragen haben sollten, kontaktieren Sie bitte <a class="link" href="mailto:TolerantTogether@gmail.com">TolerantTogether@gmail.com</a>. Sie können die Anwendung jetzt schließen.</p>
        </div>
    </div>
</section>
{% endblock %}