{% extends "base.html" %}
{% block titel %}Registration Completed{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-9 col-md-9 mx-auto">
            <p class="lead text-body-secondary">Thank you for your registration! You have successfully signed up for the political dialogue.</p>
            <p class="lead text-body-secondary">As a final step, please complete this <a class="link-primary" href="https://www.surveymonkey.de/r/GS6MFT8" target="_blank"><strong>appointment survey</strong></a> so that a suitable time for the dialogue can be arranged.</p>
            <hr>
            <p class="lead text-body-secondary"><strong>As soon as a discussion partner has been found for you, you will receive an email explaining the next steps.</strong></p> 
            <p class="lead text-body-secondary">Please check regularly whether you have received this email (also check your spam folder). If you do not receive an email, unfortunately no suitable discussion partner could be found for you.</p>
            <p class="lead text-body-secondary">If you have any further questions, please contact <a class="link" href="mailto:TolerantTogether@gmail.com">TolerantTogether@gmail.com</a>. You can now close the application.</p>
        </div>
    </div>
</section>
{% endblock %}
