{% extends "base.html" %}
{% block titel %}Registration Completed{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-9 col-md-9 mx-auto">
            <p class="lead text-body-secondary" data-i18n="reg_done_p1">
                Thank you for registering! You have successfully signed up for the political exchange.
            </p>
            <hr>
            <p class="lead text-body-secondary" data-i18n="reg_done_p2">
                <strong>Once a discussion partner has been found for you, you will receive an email explaining the next steps.</strong>
            </p>
            <p class="lead text-body-secondary" data-i18n="reg_done_p3">
                Please check regularly whether you have received this email (also check your spam folder). 
                If you do not receive an email, unfortunately no discussion partner could be found for you.
            </p>
            <p class="lead text-body-secondary" data-i18n="reg_done_p4">
                If you have any other questions, please contact 
                <a class="link" href="mailto:TogetherTolerant@gmail.com">TogetherTolerant@gmail.com</a>. 
                You may now close the application.
            </p>
        </div>
    </div>
</section>
{% endblock %}
