{% extends "base.html" %}
{% block titel %}First Questionnaire topic questions{% endblock %}
{% block content %}
<section class="py-3 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">Anmeldung zur Diskussion</h1>
        <p class="lead text-body-secondary"><br>Bitte geben Sie an, inwieweit Sie den folgenden Aussagen zustimmen. <br>Antworten Sie bitte wahrheitsgetreu. Auch diese Daten werden nur anonymisiert für Auswertungszwecke verwendet.</p>
      </div>
    </div>
</section>
<div class="py-3 text-center">
    <h3 class="fw-light">2. Meinungsumfrage</h3>
  </div>
<div class="album py-5 bg-body-tertiary">
<div  class="col-6 mx-auto">
    
    <label for="climate1" class="form-label">Ich habe Angst vor den Folgen des Klimawandels.</label>
    <input type="range" class="form-range custom-track-color" min=1 max=7 id="climate1" name="climate1" form="questionsone">   
    <div class="custom-labels">
        <span class="fw-light">Stimme gar nicht zu</span>
            <span class="fw-light">neutral</span>
            <span class="fw-light">Stimme komplett zu</span>
      </div>
    <label for="climate2" class="form-label">Ich habe Angst vor den Folgen zu drastischer Klimaschutzmaßnahmen.</label>
    <input type="range" class="form-range custom-track-color" min=1 max=7 step="1" id="climate2" name="climate2" form="questionsone">
    <div class="custom-labels">
        <span class="fw-light">Stimme gar nicht zu</span>
        <span class="fw-light">neutral</span>
        <span class="fw-light">Stimme komplett zu</span>
      </div>
    <label for="climate3" class="form-label">Ich habe das Gefühl, meine Sorgen bezüglich des Klimaschutzes werden von der Politik nicht ernst genommen.    </label>
    <input type="range" class="form-range custom-track-color" min=1 max=7 id="climate3" name="climate3" form="questionsone">
    <div class="custom-labels">
        <span class="fw-light">Stimme gar nicht zu</span>
        <span class="fw-light">neutral</span>
        <span class="fw-light">Stimme komplett zu</span>
      </div>
    <label for="classify1" class="form-label">
        Ich finde, politischer Aktivismus im Namen des Klimaschutzes, wie das Blockieren von Straßen durch "Klima-Kleber" oder das Bewerfen von Kunstwerken mit Lebensmitteln, ist insgesamt betrachtet sinnvoll und positiv.</label>
    <input type="range" class="form-range custom-track-color" min=1 max=7 id="classify1" name="classify1" form="questionsone">
    <div class="custom-labels">
        <span class="fw-light">Stimme gar nicht zu</span>
        <span class="fw-light">neutral</span>
        <span class="fw-light">Stimme komplett zu</span>
    </div>
    <p class="form-label">Politischer Aktivismus, wie das das Blockieren von Straßen durch sogenannte Klima-Kleber oder die Verunreinigung von Kunstwerken,...</p>
    <label for="emotion1" class="form-label">... machen mich wütend.</label>
    <input type="range" class="form-range custom-track-color" min=1 max=7 id="emotion1" name="emotion1" form="questionsone">
    <div class="custom-labels">
        <span class="fw-light">Stimme gar nicht zu</span>
        <span class="fw-light">neutral</span>
        <span class="fw-light">Stimme komplett zu</span>
    </div>
    <label for="emotion2" class="form-label">... belustigen mich.</label>
    <input type="range" class="form-range custom-track-color" min=1 max=7 id="emotion2" name="emotion2" form="questionsone">
    <div class="custom-labels">
        <span class="fw-light">Stimme gar nicht zu</span>
        <span class="fw-light">neutral</span>
        <span class="fw-light">Stimme komplett zu</span>
    </div>
    <label for="emotion3" class="form-label">... begeistern mich.</label>
    <input type="range" class="form-range custom-track-color" min=1 max=7 id="emotion3" name="emotion3" form="questionsone">
    <div class="custom-labels">
        <span class="fw-light">Stimme gar nicht zu</span>
        <span class="fw-light">neutral</span>
        <span class="fw-light">Stimme komplett zu</span>
    </div>
    <label for="future" class="form-label">Politischer Aktivismus, wie das Blockieren von Straßen durch Klima-Kleber oder das Verunreinigen von Kunstwerken sind erfolgreich darin, Politik und Gesellschaft zu einem verstärkten Engagement für den Klimaschutz zu bewegen.</label>
    <input type="range" class="form-range custom-track-color" min=1 max=7 id="future" name="future" form="questionsone">
    <div class="custom-labels">
        <span class="fw-light">Stimme gar nicht zu</span>
        <span class="fw-light">neutral</span>
        <span class="fw-light">Stimme komplett zu</span>
    </div>
</div>
<div class="col-8 mx-auto">
    <hr class="my-4">
    <form action="#" method="post" id="questionsone">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit" value="submit">Weiter</button>
        </div>
    </form>
  </div>
</div>

{% endblock %}