{% extends "base.html" %}
{% block title %}closing Page{% endblock %}
{% block content %}
<section class="py-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light" data-i18n="closing_title">
                Thank you for your participation!
            </h1><br>

            <p class="lead text-body-secondary" data-i18n="closing_p2">
                Thank you very much for taking part in our study and for sharing your feedback.  
                You have now completed all parts of the experiment and may close the application.
            </p>
            <p class="lead text-body-secondary" data-i18n="closing_p2">
                If you have any questions about the topic or the platform, feel free to contact us at  
                <a class="link" href="mailto:TogetherTolerant@gmail.com">TogetherTolerant@gmail.com</a>.
            </p>
        </div>
    </div>
</section>
{% endblock %}
