{% extends "base.html" %}
{% block titel %}Second Questionnaire – UEQ{% endblock %}
{% block content %}
<section class="py-3 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-7 col-md-8 mx-auto">
        <h1 class="fw-light">Evaluation of the Application</h1>
        <p class="lead text-body-secondary">Please indicate how you would rate the application with regard to the following descriptions.</p>
      </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="col-6 py-3 mx-auto">

        <label class="form-label"><h1>application is…</h1> </label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="ueq1" name="ueq1" form="ueq">
        <div class="custom-labels">
            <span class="fw-light">hindering</span>
            <span class="fw-light">supportive</span>
        </div>

        <hr>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="ueq2" name="ueq2" form="ueq">
        <div class="custom-labels">
            <span class="fw-light">complicated</span>
            <span class="fw-light">simple</span>
        </div>

        <hr>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="ueq3" name="ueq3" form="ueq">
        <div class="custom-labels">
            <span class="fw-light">inefficient</span>
            <span class="fw-light">efficient</span>
        </div>

        <hr>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="ueq4" name="ueq4" form="ueq">
        <div class="custom-labels">
            <span class="fw-light">confusing</span>
            <span class="fw-light">organized / clear</span>
        </div>

        <hr>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="ueq5" name="ueq5" form="ueq">
        <div class="custom-labels">
            <span class="fw-light">boring</span>
            <span class="fw-light">exciting</span>
        </div>

        <hr>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="ueq6" name="ueq6" form="ueq">
        <div class="custom-labels">
            <span class="fw-light">uninteresting</span>
            <span class="fw-light">interesting</span>
        </div>

        <hr>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="ueq7" name="ueq7" form="ueq">
        <div class="custom-labels">
            <span class="fw-light">conventional</span>
            <span class="fw-light">original</span>
        </div>

        <hr>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="ueq8" name="ueq8" form="ueq">
        <div class="custom-labels">
            <span class="fw-light">traditional</span>
            <span class="fw-light">innovative</span>
        </div>

        <div class="col-8 mx-auto">
            <hr class="my-4">
            <form action="#" method="post" id="ueq">
                <div class="d-grid gap-2 col-10 mx-auto">
                    <button class="btn btn-primary" type="submit">Next</button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
