{% extends "base.html" %}
{% block titel %}Second Questionnaire – Perspective{% endblock %}
{% block content %}
<section class="py-3 text-center container">
    <div class="row py-lg-4">
        <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light">From the Other Perspective</h1>
            <p class="lead text-body-secondary">
                Try to put yourself in the role of your previous conversation partner.<br>
                Think about your partner’s opinions and viewpoints.<br>
                <b>Then answer the following survey from your partner’s perspective.</b>
            </p>
        </div>
    </div>
</section>

<div class="album py-3 bg-body-tertiary">
    <div class="col-6 py-5 mx-auto">

        <label class="form-label">I am afraid of the consequences of climate change.</label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="climate_p1" name="climate_p1" form="perspective">
        <div class="custom-labels">
            <span class="fw-light">Strongly disagree</span>
            <span class="fw-light">Neutral</span>
            <span class="fw-light">Strongly agree</span>
        </div>

        <label class="form-label">I am afraid of the consequences that drastic climate protection measures could cause.</label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" step="1" id="climate_p2" name="climate_p2" form="perspective">
        <div class="custom-labels">
            <span class="fw-light">Strongly disagree</span>
            <span class="fw-light">Neutral</span>
            <span class="fw-light">Strongly agree</span>
        </div>

        <label class="form-label">I feel that my concerns about climate protection are not taken seriously by politicians.</label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="climate_p3" name="climate_p3" form="perspective">
        <div class="custom-labels">
            <span class="fw-light">Strongly disagree</span>
            <span class="fw-light">Neutral</span>
            <span class="fw-light">Strongly agree</span>
        </div>

        <label class="form-label">I think political activism in the name of climate protection — such as blocking roads (“climate stickers”) or throwing food at artworks — is overall sensible and positive.</label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="classify_p1" name="classify_p1" form="perspective">
        <div class="custom-labels">
            <span class="fw-light">Strongly disagree</span>
            <span class="fw-light">Neutral</span>
            <span class="fw-light">Strongly agree</span>
        </div>

        <p class="form-label">
            Political activism, such as blocking roads by so-called “climate stickers” or vandalizing artworks...
        </p>

        <label class="form-label">... makes me angry.</label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="emotion_p1" name="emotion_p1" form="perspective">
        <div class="custom-labels">
            <span class="fw-light">Strongly disagree</span>
            <span class="fw-light">Neutral</span>
            <span class="fw-light">Strongly agree</span>
        </div>

        <label class="form-label">... amuses me.</label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="emotion_p2" name="emotion_p2" form="perspective">
        <div class="custom-labels">
            <span class="fw-light">Strongly disagree</span>
            <span class="fw-light">Neutral</span>
            <span class="fw-light">Strongly agree</span>
        </div>

        <label class="form-label">... makes me happy and gives me hope.</label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="emotion_p3" name="emotion_p3" form="perspective">
        <div class="custom-labels">
            <span class="fw-light">Strongly disagree</span>
            <span class="fw-light">Neutral</span>
            <span class="fw-light">Strongly agree</span>
        </div>

        <label class="form-label">
            Political protest actions such as blocking roads or vandalizing artworks are successful in motivating politics and society to engage more strongly in climate protection.
        </label>
        <input type="range" class="form-range custom-track-color" min="1" max="7" id="future_p" name="future_p" form="perspective">
        <div class="custom-labels">
            <span class="fw-light">Strongly disagree</span>
            <span class="fw-light">Neutral</span>
            <span class="fw-light">Strongly agree</span>
        </div>

        <div class="col-8 mx-auto">
            <hr class="my-4">
            <form action="#" method="post" id="perspective">
                <div class="d-grid gap-2 col-10 mx-auto">
                    <button class="btn btn-primary" type="submit">Next</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}
