{% extends "base.html" %}
{% block titel %}Perspective Score{% endblock %}
{% block content %}
<section class="py-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-7 col-md-8 mx-auto">
            <h1 class="fw-light">Understanding the Other Perspective</h1>
            <p class="lead text-body-secondary">
                You understood your conversation partner’s perspective to {{ score }}%!
            </p>
            <div class="py-lg-2">
                <div class="progress" role="progressbar" aria-label="Basic example"
                     aria-valuenow="{{ score }}" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 50%">{{ score }}%</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <form action="#" method="post">
        <div class="d-grid gap-2 col-4 mx-auto">
          <button class="btn btn-primary" type="submit">Next</button>
        </div>
    </form>
</section>
<script>
    // Function to fill the progress bar with the calculated perspective score
    const progressBar = document.querySelector('.progress-bar');
    const score = Number('{{ score }}');

    progressBar.style.width = `${score}%`;
    progressBar.setAttribute('aria-valuenow', score);
    progressBar.innerText = `${score}%`;
</script>

{% endblock %}
