{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<section class="py-3 text-center container">
  <div class="row py-lg-4">
    <div class="col-lg-6 col-md-6 mx-auto">
      <h1 class="fw-light">Climate Activism & Climate Glue Protesters</h1>
      <p class="lead text-body-secondary">Here you have the opportunity to participate in the political discourse on "climate glue protesters." This term refers to activists from the group "The Last Generation," who aim to draw attention to the threat of climate change through extreme protest actions.</p>
      <p class="lead text-body-secondary">Their most well-known protest method involves gluing themselves to streets, thereby blocking traffic. The group also engages in actions such as throwing food at artworks or spray-painting private jets with graffiti.</p>
      <p class="lead text-body-secondary">These actions provoke very different and often highly emotional reactions among citizens. It is therefore important to engage in a factual discussion on this controversial topic.</p>
    </div>
    <div class="col-lg-6 col-md-6 mx-auto">
      <img src="{{url_for('static', filename='klimakleber-bild1.jpg')}}" class="rounded mx-auto" width="75%"/>
    </div>
  </div>
</section>

{% if user.demo %}
  {% if user.haspartner %}
    <div class="py-2 text-center">
      <h3 class="fw-light">Participate in the Discussion</h3>
    </div>
    <div class="album py-3 bg-body-tertiary">
      <div class="py-3 text-center container">
        <div class="py-3 col-md-8 shadow-sm rounded mx-auto bg-white"> 
          <p class="lead text-body-secondary">A suitable discussion partner has been found for you. The username is <b>{{ partner.user_name }}</b>. At the scheduled time, which you received via email, you can join the dialogue here. The next page will explain the further steps.</p>
          <hr>
          {% if button_disabled %}
            <div class="d-grid gap-2 col-6 mx-auto">
              <button disabled class="btn btn-primary">Proceed to Interaction</button>
            </div>
          {% else %}
            <div class="d-grid gap-2 col-6 mx-auto">
              <a class="btn btn-primary" id="start" href="/Interaction/introduction" role="button">Proceed to Interaction</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="py-2 text-center">
      <h3 class="fw-light">Participate in the Discussion</h3>
    </div>
    <div class="album py-3 bg-body-tertiary">
      <div class="py-3 text-center container">
        <div class="py-3 col-md-8 shadow-sm rounded mx-auto bg-white">
          <p class="lead text-body-secondary">Thank you for registering. You have successfully signed up for the political dialogue.</p>  
          <p class="lead text-body-secondary">So far, no suitable discussion partner has been assigned to you. You will receive an <strong>email</strong> once a partner has been found. This email will explain the next steps and schedule the interaction.</p>
          <p class="lead text-body-secondary">If you <strong>do not receive an email</strong>, no discussion partner could be found for you, and unfortunately, you cannot participate in the dialogue.</p>  
          <form method="get">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="submit">Refresh</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% else %}
  <div class="py-2 text-center">
    <h3 class="fw-light">Register for the Discussion</h3>
  </div>
  <div class="album py-3 bg-body-tertiary">
    <div class="py-3 text-center container">
      <div class="py-3 col-lg-8 col-md-8 shadow-sm rounded mx-auto bg-white">
        <form method="post">
          <p class="lead text-body-secondary">Here you can register for the political dialogue on climate activism and climate glue protesters.</p>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
