<p>Liebe/r Teilnehmer/in,</p>
<p>Nochmal Vielen Dank für deine Teilnahme.</p> 
<p>Um die Belohnung auszahlen zu können, wird eine Zahlungsmethode benötigt. Bitte antworte auf diese E-Mail mit deinem Paypal-Account (E-Mail) oder deiner Bankverbindung (Vollständiger Name & IBAN), damit wir die Belohnung verschicken können. Die Überweisung wird anschließend so schnell wie möglich durchgeführt.</p>
<p>Falls du weitere Fragen hast, zögere nicht, uns per E-Mail zu kontaktieren. Wir stehen dir gerne zur Verfügung.</p>
<p>Mit Freundlichen Grüßen</p>
<p>Dein ToTo-Team</p>
