<p>Dear participant,</p>
<p>Once again, thank you very much for your participation.</p>
<p>
  In order to send out the reward, we need a payment method.  
  Please reply to this email with your PayPal account (email address) or your bank details  
  (full name &amp; IBAN), so that we can transfer the payment.  
  The transfer will be completed as soon as possible afterwards.
</p>
<p>
  If you have any further questions, please do not hesitate to contact us by email. We are happy to assist you.
</p>
<p>Kind regards,</p>
<p>Your ToTo Team</p>
