<p>Dear participant,</p> 

<p>We would like to sincerely thank you for your registration and your interest. 
<strong>A suitable conversation partner has been found for you</strong>, and you now have the opportunity to take part in the political exchange.</p>

<p>
<strong>To schedule an appointment with your conversation partner, please indicate your availability for the political dialogue in the following survey:</strong> 
<a class="link" href="https://www.surveymonkey.de/r/GS6MFT8">https://www.surveymonkey.de/r/GS6MFT8</a>
</p>

<p>
As soon as a suitable time has been found for both you and your conversation partner, you will receive another email with the exact date and time for the video call.
</p>

<p>Here are further details for your participation:</p>

<p>
The full participation takes approximately 20 minutes.  
On the day of your session, please log into the application <strong>at least 5 minutes</strong> before the scheduled time and navigate to the discussion page, so you have enough time to read t
